h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-color{
    color: orange;
}
.set-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.set-width img{
    width: 100%;
}
.set-backgroung{
    background-image: url("images/top-banner.png");
    height:500px;
    background-repeat:no-repeat;
}